// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
.card-background-page {
  ion-card {
    height: 100%;
    position: relative;
    text-align: center;
    background: #ffffff;
    margin-bottom: 30px;
    img {
      display: inline-block;
    }
    .card-title {
      margin-left: 20%;
      font-size: 2em;
      width: 80%;
      font-weight: bold;
      color: #32353a;
      float: left;
      .score {
        font-weight: lighter;
        font-size: 0.7em;
      }
      .time {
        font-size: 0.5em;
        width: 100%;
        display: inline-block;
      }
      .versus {
        height: 40px;
        width: 40px;
        float: left;
        margin-top: 30px;
      }
      .logoTime {
        height: 70px;
        width: 100%;
        object-fit: contain;
      }
      .cardTime {
        position: relative;
        width: calc(50% - 20px);
        float: left;
        padding: 10px;
      }
    }
    .partida-finalizada {
      position: absolute;
      top: 5px;
      width: 20%;
      color: #009fd9;
      font-weight: bold;
    }
    .partida-ao-vivo {
      position: absolute;
      top: 5px;
      width: 20%;
      .status_partida {
        color: #ffffff;
        font-weight: bold;
      }
      .ao_vivo {
        position: absolute;
        margin-top: 3px;
        left: calc(50% - 40px);
        height: 10px;
        width: 10px;
        background: #e11a29;
        border-radius: 50%;
        -webkit-animation: neon 0.4s alternate infinite ease-in-out;
        animation: neon 0.4s alternate infinite ease-in-out;
      }
      @keyframes neon {
        0% {
          background: #5f6061;
        }
      }
    }
  }
  .card-horario {
    position: absolute;
    width: 20%;
    float: left;
    height: 100%;
    font-weight: bold;
    color: white;
    font-size: 2em;
    background: #5f6061;
    padding-top: 35px;
    padding-bottom: 15px;
    .data {
      width: 100%;
      display: inline-block;
      text-align: center;
    }
    .barra {
      width: 40px;
      height: 2px;
      background: white;
      position: absolute;
      left: calc(50% - 20px);
    }
    .horaJogo {
      padding: 20px 0px;
      display: inline-block;
      font-size: 0.5em;
      width: 100%;
    }
  }
  .card-campeonato {
    margin-left: 20%;
    float: left;
    width: 80%;
    font-weight: bold;
    color: #32353a;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
  }
  .melho-de {
    margin-left: 20%;
    position: relative;
    float: left;
    width: 80%;
  }
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: black;
  }
}

.scroll-content {
  background: #999a9a;
}

.toolbar-title-md {
  color: #ffffff !important;
  text-align: center;
}

.toolbar-background-md {
  border-color: #999a9a !important;
  background: #5f6061 !important;
}

.bar-button-default-md {
  color: #f7f7f7 !important;
}

.back-button-md {
  position: absolute !important;
  z-index: 99;
}

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #488aff, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
